.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    img { border-radius: 5px }

    thead th {
        font-size: 2em;
        font-weight: bold;
    }

    td#keywords { font-style: italic; }
    
    a p {
        color: #515151; /* Same as the rest */
    }

}
