<div style="background: white; flex: 1">
  <!-- This will make the mobile homepage have a white against black contrast.
           Flex extends it to the bottom of the page. -->

  <h1 style="font-family: Lily Script One">
    Are you lost in the Internet wilderness?
  </h1>
  
  <p>  
    Well, hello. I have always wanted to have my own personal website. I have always liked having fine-grain control over the aesthetics of my creations (be it written material, presentations, vídeos, etc). Then, I learned about GitHub pages, and here we are.
  </p>

  <p>
    This is clearly a work in progress, as I work on it every now and then (more then than now), but at some point I guess I will be able to remove the sign below, being proud of it.
  </p>

  <figure>
    <img src="{{ "/imgs/under-construction.png" | relative_url}}" alt="Site
    Under Construction">
  </figure>
  <!--
  <p>- - - W I P - - -</p>
  <figure>
    <img src="{{ "/imgs/EinsteinEqsLeiden.jpg" | relative_url}}" alt="Photo of
    myself in front of the Einstein's equations. Leiden, The Netherlands">
    <figcaption style="font-style: italic; padding: 2px; text-align: center">
      Photo of myself in front of the Einstein's equations. Leiden, The
      Netherlands.
    </figcaption>
  
  -->
</div>
