<!-- EARLY -->

<h3>Early years</h3>

<div id="timeline-content">
  <ul class="timeline">
    <li class="event" data-date="1995">
      <h3>A star was born</h3>
      <h4>Madrid, Spain</h4>
      <!-- <p> There's not much to be added here. </p> -->
    </li>
    <li class="event" data-date="1995-2013">
      <h3>Compulsory education</h3>
      <h4>C.E.I.P. Nuestra Señora de la Almudena</h4>
      <!-- <p> I had what can be called a normal primary education. </p> -->
      <h4>I.E.S. Beatriz Galindo - English bilingual section</h4>
    </li>
  </ul>  
</div>

<p> 
  There's not much to be added here. I had a pretty standard primary/high school experience. At first I pondered studying medicine, however I decided it was not my thing. After being captivated by documentaries, I decided that I wanted to understand the Universe and its fundamental laws, in particular everything related to Cosmology and black holes. 
</p>


<!-- HIGHER ED. -->

<h3>Higher education</h3>

<div id="timeline-content">
  <ul class="timeline">
    <li class="event" data-date="2013">
      <h3>Enrolled in the B.Sc. in Physics</h3>
      <h4>Universidad Complutense de Madrid (UCM)</h4>
      <!-- <p>
        Amazed by the Universe and space in particular (cosmology, black holes, etc), I attempted to understand it.
      </p>-->
    </li>
    <li class="event" data-date="2014-2020">
      <h3>Member of ASAAF</h3>
      <p>
        Organizer of activities and speaker in public outreach talks about Maths, Physics and Astronomy, for the Astronomical association of the Faculty of Physics of the UCM.
      </p>
      <!-- <p>
        During the second year I joined the astronomical association of the UCM.
      </p>
      <p>
        Besides helping with astronomical events, I was offered the chance to give public presentations, taking place during events such as the Madrid Science Week or the Noether Conference cycles.
      </p> -->
      <p>
        For a complete list of them, see <a href="../categories/04-outreach.html">the "Outreach" section</a>.
      </p>
    </li>

    <li class="event" data-date="Feb 2021">
      <h3>C1 english certified via IELTS</h3>
    </li>

    <li class="event" data-date="Jul 2017">
      <h3>B.Sc. in Physics (GPA 7.5)</h3>
      <h4>Universidad Complutense de Madrid (UCM)</h4>
      <p>Specialization in Fundamental Physics</p>
      <p>
        Bachelor's Thesis:
        <em><strong>Numerical Solutions in Classical Field Theories: Vortices and Solitons</strong></em>, directed by Prof. Francisco Navarro (Grade: 9/10). In case you are interested, you can <a href="https://goznalo-git.github.io/portfolio/files/TFG.pdf" target="_blank"> view or download it here</a> (in Spanish).
      </p>
    </li>

    <li class="event" data-date="Sep 2017">
      <h3>Enrolled in the M.Sc. in Theoretical Physics</h3>
      <h4>Universiteit van Amsterdam (UvA)</h4>
      <p> Further information: Teaching Assistant on the bachelor course <em>Mathematical Methods III</em>.</p>
      <!-- <p>
        I still had a huge drive to understand the Universe, as the bachelor only shows glimpses of deep, underlying Physics.
      </p>
      <p>
        The program offered by the UvA was highly competitive and interesting, thus positioning it as my first choice for my Master studies.
      </p> -->
    </li>
    <li class="event" data-date="2017-2019">
      <h3>Member of NSA</h3>
      <p>
        Head of the Master Committee of the <em>Natuurwetenschappelijke Studievereniging Amsterdam</em>, the Physics and Mathematics association of the UvA. We organized activities (pub quizzes, scientific talks, movie nights) for our fellow students.
      </p>
      <!-- <p>
        Soon after arriving to Amsterdam I became a member of the <em>Natuurwetenschappelijke Studievereniging Amsterdam</em>, a Physics and Mathematics student association of the UvA. I was part of the Master Committee, in charge of creating and managing events aimed at Master-level students.
      </p>
      <p>
        The events included: pub quizzes, movie nights, scientific talks, etc.
      </p> -->
    </li>

    <li class="event" data-date="2018-2019">
      <h3>Member of Pint of Science NL</h3>
      <p>
        Organizer and talk host during the May 2019 Pint of Science festival.
      </p>
      <!-- <p>
        During the second year of the Master I found out about the Pint of Science non-profit organization, which happened to have just opened an Amsterdam division. This organization intends to explain scientific topics to people through informal talks at bars, where atendees are given a beer upon entring.
      </p>
      <p>
        I was in charge of organizing the events of the 2019 festival (taking place every year, in May, all over the world), in particular I organized and introduced the speakers of the event "Fundamentals of Antibiotic Resistance".
      </p> -->
    </li>

    <li class="event" data-date="Aug 2019">
      <h3>M.Sc. in Theoretical Physics (GPA 8.5)</h3>
      <h4>Universiteit van Amsterdam (UvA)</h4>
      <p>
        Finished with <em><strong>Cum Laude</strong></em> distinction. Specialization in High Energy Physics & String Theory.
      </p>
      <p>
        Master's Thesis:
        <em><strong>Higher Spin Wilson Lines in AdS<sub>3</sub>/CFT<sub>2</sub></strong></em>, directed by Prof. Alejandra Castro Anich (Grade: 8/10). In case you are interested, you can <a href="https://goznalo-git.github.io/portfolio/files/TFM.pdf" target="_blank"> view or download it here</a> (in English).
      </p>
    </li>
    
  </ul>
</div>  

<p> 
  The bachelor was more interesting than what I could have ever imagined; I specially enjoyed the most mathematically-oriented courses. Thus, I soon considered the idea of pursuing a master's degree in Theoretical Physics, to learn about advanced topics such as String Theory, Topology in Physics, Advanced General Relativity and Quantum Field Theory...
</p>

<p>
  Studying in Amsterdam was amazing, with so many influential theoretical physicists around. I learned a lot, but in the end I was a bit burnt out. I needed to step away from academia and see what else was available. I went back to Madrid, and decided to take some time off.
</p>


<!-- PROFESH. -->

<h3>Short absence from academia</h3>

<div id="timeline-content">
  <ul class="timeline">

    <li class="event" data-date="Jan 20 - Feb 21">
      <h3>Junior programmer</h3>
      <h4>
        Centro de Computación Científica, Universidad Autónoma de Madrid (CCC-UAM)
      </h4>
      <p>
        Languages: Bash (Linux), Python, HTML. 
      </p>
      <!-- <p>
        Upon finishing my master studies, I craved a change in my career. After a brief hiatus, I got a job as a programmer in the Center for Scientific Computing of the UAM. There I developed my scripting skills (in bash/Linux and Python) further than ever before, and I attained a huge interest for Linux and open source in general.
      </p> -->
    </li>

    <li class="event" data-date="Jun 2020">
      <h3>Deep Learning Specialization</h3>
      <h4>Coursera</h4>
      <p>
        Consisting of 5 courses, from basic Deep Neural Networks to Convolutional and Recurrent ones. In case you are interested, you can <a href="../files/DeepLearning_certificate.pdf" target="_blank"> view or download the certificate</a>.
      </p>
      <!-- <p>
        During the COVID-19 pandemic, my interest for data science, and AI in particular, grew exponentially. It was for this reason that I decided to take a series of excellent courses provided by Coursera and deeplearning.ai, which taught me the fundamentals of Deep Learning (from basic Neural Networks to Convolutional or Recurrent ones).
      </p> -->
    </li>

    <li class="event" data-date="Mar 21 - Jun 21">
      <h3>Data analyst</h3>
      <h4>SDG group</h4>
      <!-- <p>
        One year after joining the CCC-UAM, it was time for me to move forward, pursuing a career in Data Science. As a first step towards that goal, I became a consultant at SDG, analyzing financial data for both the Santander and the Triodos banks.
      </p> -->
    </li>

  </ul>
</div>


After a couple of months off, I got my first job as a programmer at the UAM's supercomputing cluster. There I was able to put my programming knowledge into practice, writing scripts to the needs of the Center, in both Python and Bash (I also wrote the current version of the CCC-UAM's website, but that's something minor).

However, I soon discovered that I wanted to focus on the data side of programming (I had already carried out some data-driven projects within the UAM, but sporadic). I managed to get a job in dada analysis at SDG consulting, for a brief period of time. Because at the same time I was offered the chance to enrol a Ph.D. in Applied Mathematics, in Complex Networks in particular. It would have a mixture of both Mathematics and Data Science, hence my decission to switch back to academia was firm.

I also decided, out of a whim, to enroll in the Advanced Physics master program of the UNED (previously known as the Complex Systems master program), but taking just one/two courses per year. The reason for this was twofold: on the one hand, during the Theoretical Physics master all the courses I took where focused on analytical methods, applied to High Energy Physics problems. Here I learn a more computational approach, mostly towards Non-linear and complex phenomena. On the other hand, the program has some degree of overlap with my Ph.D., which I deemed useful (and so far I have been proven correct).  


<!-- CURRENT -->

<h3>Current situation</h3>

<div id="timeline-content">
  <ul class="timeline">
    <li class="event" data-date="Jun 2021">
      <h3>Complex networks Ph.D. student</h3>
      <h4>Universidad Rey Juan Carlos (URJC)</h4>
      <p>
        Preliminary title: <strong><em>Centrality Control in Complex Networks</em></strong>, under the supervision of Prof. Regino Criado Herrero and Prof. Miguel Romance del Río.
      </p>
      <p>
        For a list of publications and related talks, see <a href="../categories/02-research.html">the "Research" section</a>.
      </p>
      <!-- <p>
        Over the last year I had been in contact with Regino Criado, Full Professor at the URJC. He introduced me to Miguel Romance, another Full Professor, and together they offered me the possibility to carry out a Ph.D. in Applied Mathematics (Complex Networks in particular), a possibility which materialized in June 2022.
      </p> -->
    </li>

    <li class="event" data-date="Oct 2021">
      <h3>Enrolled in the M.Sc. in Advanced Physics</h3>
      <h4>Universidad Nacional de Educación a Distancia (UNED)</h4>
      <!-- <p>
        Although a Ph.D. alone is already a huge endeavour, I was confident (or reckless) enough to pursue another M.Sc. degree in Physics alongside. This time, focused on computational and non-linear dynamics, which are topics I always found interesting, however unable to find the time to study them.
        <br>
        Worry not, though, as I will only be taking 1 course/semester.
      </p> -->
    </li>

    <li class="event" data-date="Oct 2021">
      <h3>Technical direction</h3>
      <h4>Laboratorio de Computación Matemática y Análisis de Redes Complejas y Aplicaciones (LACOMARCA)</h4>
      <p>Official website: <a href="https://lacomarca-lab.github.io/">https://lacomarca-lab.github.io/</a></p>
      <!-- <p>
        Due to my previous experience in the supercomputing cluster of the UAM, and the knowledge adquired therein, I was soon appointed as the technical director of the recently created scientific computing group.
      </p> -->
    </li>
  </ul>
</div>
