<ul class="responsive-table">
    <li class="table-header">
      <div class="col col-20">Title</div>
      <div class="col col-20">Co-authors</div>
      <div class="col col-30">Description</div>
      <div class="col col-20">Journal/Preprint</div>
    </li>

    <li class="table-row">
      <div class="col col-20">
        <a href="https://doi.org/10.1093/comnet/cnae037" target="_blank"> Beyond directed hypergraphs: heterogeneous hypergraphs and spectral centralities</a>
      </div>
      <div class="col col-20">
        R. Criado, M. Romance
      </div>
      <div class="col col-30">
        We provide an alternative definition of non-undirectedness (i.e. heterogeneity) in hypergraphs, beyond traditional definitions of directed hypergraphs which rely on set-theoretic notions. We discuss different examples of heterogeneous hypergraphs, focusing on their spectral centralities.
      </div>
      <div class="col col-20"><em> Journal of Complex Networks, Vol 12, Issue 5, October 2024 <br>---<br> Preprint at arXiv:2403.11825 </em></div>
    </li>


    <li class="table-row">
      <div class="col col-20">
        <a href="https://doi.org/10.48550/arXiv.2310.20335" target="_blank"> Uplifting edges in higher order networks: spectral centralities for non-uniform hypergraphs</a>
      </div>
      <div class="col col-20">
        C. Pérez-Corral, M. Romance 
      </div>
      <div class="col col-30">
        We provide a way to compute spectral centralities of general hypergraphs (in particular, the H-eigenvector centrality). Up until this work there was a major shortcoming, the requirement of the hypergraph to be uniform. We show that suitably adding an extra node does the trick.
      </div>
      <div class="col col-20"><em> Preprint at arXiv:2310.20335 </em></div>
    </li>

    <li class="table-row">
      <div class="col col-20">
        <a href="https://doi.org/10.1038/s41467-024-48203-6" target="_blank"> The transition to synchronization of networked systems</a>
      </div>
      <div class="col col-20">
        A. Bayani, F. Nazarimehr, S. Jafari, K. Kovalenko, K. Alfaro-Bittner, R. J. Sánchez-García, S. Boccaletti
      </div>
      <div class="col col-30">
        In this work, the path to synchronization is fully characterized, in the sense that we find a way to predict analytically which clusters can each node belong to, and furthermore we obtain the value of the coupling at which each cluster synchronizes. 
      </div>
      <div class="col col-20"><em> Nature Communications<br> 15, 4955 (2024) <br>---<br> Preprint at arXiv:2303.08668 </em></div>
    </li>

    <li class="table-row">
      <div class="col col-20">
        <a href="https://doi.org/10.1016/j.chaos.2023.114200" target="_blank"> Detecting communities in higher-order networks by using their derivative graphs</a>
      </div>
      <div class="col col-20">
        R. Criado, G. Vera de Salas, J. Yang 
      </div>
      <div class="col col-30">
        Based on the concept of the derivative of a hypergraph, which serves as a similarity index akin to Jaccard's one in set theory, we devise a novel way to detect communities in undirected hypergraphs.
      </div>
      <div class="col col-20"><em>Chaos, Solitons and Fractals <br> Vol  177, 114200 (2023)</em></div>
    </li>

    <li class="table-row">
      <div class="col col-20">
        <a href="https://doi.org/10.1103/PhysRevE.108.054309" target="_blank"> Endowing networks with desired symmetries and modular behavior</a>
      </div>
      <div class="col col-20">
        P. Khanra, S. Ghosh, D. Aleja, K. Alfaro-Bittner, R. Criado, M. Romance, S. Boccaletti, P. Pal, C. Hens
      </div>
      <div class="col col-30">
        This is somewhat of a "reverse engineering" problem: given a number of nodes, an edge density and a partition of the nodes into clusters such that they are synchronized together, we give a procedure to realize one of such possible networks.
      </div>
      <div class="col col-20"><em> Physical Review E<br> 108, 054309 (2023) <br>---<br>  Preprint at arXiv:2302.10548 </em></div>
    </li>

    <li class="table-row">
      <div class="col col-20">
        <!--
          <a href="https://arxiv.org/abs/2211.12929" target="_blank"> Parametric control of PageRank centrality rankings: a geometrical approach</a>
        -->
        <a href="https://doi.org/10.1063/5.0156226" target="_blank"> Can the PageRank centrality be manipulated to obtain any desired ranking?</a>
      </div>
      <div class="col col-20">
        R. Criado, M. Romance 
      </div>
      <div class="col col-30">
        We obtain some analytical results concerning how controllable the PageRank centrality measure is. For that we develop a novel geometrical approach to centrality rankings, which renders the controllability question almost trivial to answer. 
      </div>
      <div class="col col-20"><em>Chaos<br> Vol 33, 083152 (2023) <br>---<br> Preprint at arXiv:2211.12929 </em></div>
    </li>

    <li class="table-row">
      <div class="col col-20">
        <a href="https://doi.org/10.1016/j.chaos.2022.112310" target="_blank"> A compartmental model for cyber-epidemics</a>
      </div>
      <div class="col col-20">
        D. Aleja, K. Alfaro-Bittner, E. Primo, R. Criado, M. Romance, S. Boccaletti 
      </div>
      <div class="col col-30">
        We attempted to model the effect (in terms of damage) of the spread of a computer virus through a network, in terms of a vectorial compartmental model. The dependence of the final damage on the network's topology is discussed, as well as different viral behaviors.
      </div>
      <div class="col col-20"><em>Chaos, Solitons and Fractals <br> Vol 161, 112310, Aug 2022 <br>---<br> Preprint at arXiv:2205.08345 </em></div>
    </li>
</ul>

There are a couple of other papers on the way (1 under review, 2 in preparation).