<ul class="responsive-table">
  <li class="table-header">
    <div class="col col-1">Title</div>
    <div class="col col-2">Where</div>
    <div class="col col-3">When</div>
  </li>

  <li class="table-row">
    <div class="col col-1">
      <a
        href="/files/2024_CompNets_Heterogeneous_hypergraphs.pdf"
        target="_blank"
        > Hypergraphs beyond directedness: heterogeneity and spectral centralities</a>
    </div>
    <div class="col col-2">
      Complex Networks and their Applications 2024
    </div>
    <div class="col col-3">
      Oct 2016
    </div>
  </li>
</ul>
