<ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Title</div>
      <div class="col col-2">Where</div>
      <div class="col col-3">When</div>
    </li>
  
    <li class="table-row">
      <div class="col col-1">
        <a
          href="https://imm.webs.upv.es/jornadas/2023/speakers.html"
          target="_blank"
          >Characterizing cluster synchronization phenomena in network dynamics</a
        >
      </div>
      <div class="col col-2">
        Mathematical Modelling in Engineering & Human Behaviour 2023
      </div>
      <div class="col col-3">Jul 2023</div>
    </li>

    <li class="table-row">
      <div class="col col-1">
        <a
          href="https://fisesjoven23.gefenol.es/"
          target="_blank"
          >The transition to synchronization of networked systems</a
        >
      </div>
      <div class="col col-2">
        FisEs (Congreso de Física Estadística) Joven 23
      </div>
      <div class="col col-3">May 2023</div>
    </li>

    <li class="table-row">
      <div class="col col-1">
        <a
          href="https://bymat.webs.upv.es/index/schedule/"
          target="_blank"
          >Centrality control problems in network theory: understanding PageRank rankings</a
        >
      </div>
      <div class="col col-2">
        BYMAT (Bringing Young MAthematicians Together) 2022
      </div>
      <div class="col col-3">Nov 2022</div>
    </li>

    <li class="table-row">
      <div class="col col-1">
        <a
          href="https://imm.webs.upv.es/jornadas/2022/speakers.html"
          target="_blank"
          >The geometry behind PageRank rankings</a
        >
      </div>
      <div class="col col-2">
        Mathematical Modelling in Engineering & Human Behaviour 2022
      </div>
      <div class="col col-3">Jul 2022</div>
    </li>
</ul>