<ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Title</div>
      <div class="col col-2">Where</div>
      <div class="col col-3">When</div>
    </li>
  
    <li class="table-row">
      <div class="col col-1">
        <a
          href="https://imm.webs.upv.es/jornadas/2022/speakers.html"
          target="_blank"
          >The geometry behind PageRank rankings</a
        >
      </div>
      <div class="col col-2">
        Mathematical Modelling in Engineering & Human Behaviour 2022
      </div>
      <div class="col col-3">Jul 2022</div>
    </li>
</ul>