<div class="courses">
  <details open>
		<summary>
			Discrete Mathematics and Algebra (<em>2022-</em>)
		</summary>
		<div>
      <strong>Where:</strong> URJC. <strong>Degrees:</strong> TBD.
      <br>
			<strong>Content:</strong> TBD
		</div>
	</details>

	<details open>
		<summary>
			Mathematics II (<em>2022-</em>)
		</summary>
		<div>
      <strong>Where:</strong> URJC. <strong>Degrees:</strong> 1st year Experimental Sciences
			<br>
      <strong>Content:</strong>	Multivariable functions. Partial derivatives and gradients. Multiple integration and polar/cylindrical/spherical coordinate systems. Vector fields, divergence and curl. Line and surface integrals. Theorems of Green, Stokes and Gauss. Introduction to differential equations.
		</div>
	</details>

	<details>
		<summary>
			Calculus (<em>2022-</em>)
		</summary>
		<div>
      <strong>Where:</strong> URJC. <strong>Degrees:</strong> 1st year Software Engineering, 1st year Computer Engineering
			<br>
      <strong>Content:</strong>	Basic notions of Complex numbers. Real functions. Limits and derivatives. Indefinite integrals. Definite integrals and the Fundamental Theorem of Calculus. Successions and series, convergence tests. Power series and the Taylor expansion.
		</div>
	</details>

	<details>
		<summary>
			Mathematical Methods III (<em>2018-2019</em>)
		</summary>
		<div>
      <strong>Where:</strong> UvA. <strong>Degrees:</strong> 3rd year Physics
			<br>
      <strong>Content:</strong>	Introduction to the Complex numbers. \(\mathbb{C}\)-valued functions and the Cauchy-Riemann equations. Complex integration and the Residue Theorem. Analytic continuation, the Gamma and Riemann zeta functions.
		</div>
	</details>
</div>
 