
<div class="courses">
	<details open>
		<summary>
			At the UC3M (2025-)
		</summary>
	

		<div class="courses">

			<details>
				<summary>
					Linear Algebra (<em>2025</em>)
				</summary>
				<div>
			<strong>Where:</strong> UC3M. <strong>Degree:</strong> Electrical Engineering
					<br>
			<strong>Content:</strong> Complex numbers. Linear systems of equations. Vector spaces: linear maps, diagonalization, inner product spaces.
				</div>
			</details>

			<details>
				<summary>
					Calculus (<em>2025</em>)
				</summary>
				<div>
			<strong>Where:</strong> UC3M. <strong>Degree:</strong> Artificial Intelligence
					<br>
			<strong>Content:</strong>Single variable calculus (real functions, limits, derivatives, integrals). Sequences and series.
				</div>
			</details>
			
			<details>
				<summary>
					Calculus II (<em>2026</em>)
				</summary>
				<div>
			<strong>Where:</strong> UC3M. <strong>Degree:</strong> Aerospatial Engineering
					<br>
			<strong>Content:</strong>Coordinate systems. Multivariable calculus (limits, derivatives, integrals). Green's, Gauss' and Stokes' Theorems.
				</div>
			</details>
		</div>
	
	</details>


	<details>
		<summary>
			At the URJC (2022-2024)
		</summary>

		<div class="courses">

			<details>
				<summary>
					Mathematics (<em>2024</em>)
				</summary>
				<div>
			<strong>Where:</strong> URJC. <strong>Degrees:</strong> Biology, Water Resources
					<br>
			<strong>Content:</strong>	Single variable calculus (real functions, limits, derivatives, integrals). Introduction to ordinary differential equations. Introduction to numerical analysis.
				</div>
			</details>

			<details>
				<summary>
					Mathematics II (<em>2022-2024</em>)
				</summary>
				<div>
			<strong>Where:</strong> URJC. <strong>Degrees:</strong> Experimental Sciences, Energy Engineering
					<br>
			<strong>Content:</strong>	Multivariable functions. Partial derivatives and gradients. Multiple integration, polar/cylindrical/spherical coordinate systems. Vector fields, divergence and curl. Line and surface integrals. Theorems of Green, Stokes and Gauss. Introduction to ordinary differential equations.
				</div>
			</details>

			<details>
				<summary>
					Calculus (<em>2022-2024</em>)
				</summary>
				<div>
			<strong>Where:</strong> URJC. <strong>Degrees:</strong> Software Engineering, Computer Engineering
					<br>
			<strong>Content:</strong>	Basic notions of Complex numbers. Real functions. Limits and derivatives. Indefinite integrals. Definite integrals and the Fundamental Theorem of Calculus. Successions and series, convergence tests. Power series and the Taylor expansion.
				</div>
			</details>

			<details>
				<summary>
					Discrete Mathematics and Algebra (<em>2022-2023</em>)
				</summary>
				<div>
				<strong>Where:</strong> URJC. <strong>Degrees:</strong> Software Engineering
				<br>
					<strong>Content (Discrete Mathematics):</strong> Diophantine equations. Modular arithmetic. Combinatorics. Graph theory.
				<br>
					<strong>Content (Algebra):</strong> Systems of equations and matrices. Vector spaces. Linear maps. Diagonalization.
				</div>
			</details>

			<details>
				<summary>
					Mathematical Methods III (<em>2018-2019</em>)
				</summary>
				<div>
			<strong>Where:</strong> UvA. <strong>Degrees:</strong> Physics
					<br>
			<strong>Content:</strong>	Introduction to the Complex numbers. \(\mathbb{C}\)-valued functions and the Cauchy-Riemann equations. Complex integration and the Residue Theorem. Analytic continuation, the Gamma and Riemann zeta functions.
				</div>
			</details>
		</div>
	</details>
</div>