
<ul>

    <li>
        <a href="/files/String_Theory_Ext.pdf" target="_blank"> String Theory, extension: An introduction to the AdS/CFT correspondence </a> (UvA, 2018) 
        <p>
            After passing the <em>String Theory, extension</em> course offered at my master programme, I discussed with the two lecturers the possibility of creating some official lecture notes for said course, which could be used in future years. They thought it was a great idea and we worked on in for some time, with this being the final product. 
        </p>
        <p>
            They cover the basics of the AdS/CFT correspondence (sometimes known as <em>Holography</em>), establishing the necessary ingredients on the AdS side (Anti-de Sitter geometry and symmetries, Fefferman-Graham coordinate expasion, ...) and those on the CFT side (Supersymmetry, \(\mathcal{N}=4\) Super Yang-Mills, ...). The final chapters are devoted to some specific applications such as black hole entropy calculations and renormalization group flows.
        </p>
    </li>


    <li>
        <a href="/files/Cosmology.pdf" target="_blank"> Cosmology lecture notes </a> (UCM, 2017) 
        <p> 
            I wrote these notes during the Cosmology course from the last year of the Physics bachelor. They contain everything (including some suggested problems) that was covered in the course.
        </p>
    </li>

</ul>