
<ul>

    <li>
        <a href="../files/String_Theory_Ext.pdf" target="_blank"> String Theory, extension: An introduction to the AdS/CFT correspondence </a> (UvA, 2018-2019) 
        <p>
            After passing the <em>String Theory, extension</em> course, I discussed with the two lecturers the possibility of creating some lecture notes for said course, which could be used in future years as the official course bibliography. They thought it was a great idea and we worked on in for some time, with this being the final product. 
        </p>
        <p>
            They cover the basics of the AdS/CFT correspondence (the first, yet only realization of the concept of <em>Holography</em>), establishing the necessary ingredients on the AdS side (Anti-de Sitter geometry and symmetries, Fefferman-Graham coordinate expasion, ...) and those on the CFT side (Supersymmetry, \(\mathcal{N}=4\) Super Yang-Mills, ...). The final chapters are devoted to some specific applications such as black hole entropy calculations and renormalization group flows.
        </p>
    </li>


    <li>
        <a href="../files/Cosmologia.pdf" target="_blank"> Cosmology lecture notes </a> - in Spanish (UCM, 2017) 
        <p>
            I wrote these notes during the Cosmology course from the last year of the Physics bachelor. They contain everything (including some suggested problems) covered in the course, namely the derivation of the Friedman-Lemaître-Robertson-Walker metric from the Cosmological Principle, cosmological kinematics and dynamics, and the problems with the current (\(\Lambda\)CDM) Cosmological Model. Standard Differential Geometry knowledge is assumed from the start. It includes proposed exercises, some of which are solved at the end.
        </p>
    </li>

    <li>
        <a href="../files/Entregables_CamposCuanticos.pdf" target="_blank"> Collection of Quantum Field Theory solved exercises </a> - in Spanish (UCM, 2016-2017) 
        <p>
            The best way to learn something is by carrying out a project where you need it. Following that principle, I decided to type in \(\LaTeX\) all the exercises we were supposed to hand in during the Quantum Field Theory course (and some extra ones, although I did not include their solution there). The exercises are, mostly, hands on calculations which the professor skipped in the lectures, meant for us to practice some common techniques and mathematical trickery used in this subject.
        </p>
    </li>

</ul>