<ul class="responsive-table">
  <li class="table-header">
    <div class="col col-1">Title</div>
    <div class="col col-2">Where</div>
    <div class="col col-3">When</div>
  </li>

  <li class="table-row">
    <div class="col col-1" data-label="Job Id">
      <a
        href="LINK-NOT-FOUND"
        target="_blank"
        >Complejidad, centralidad y sincronía</a
      >
    </div>
    <div class="col col-2" data-label="Customer Name">
        XVI Jornadas de ciencia (Universidad de Alcalá) 
    </div>
    <div class="col col-3" data-label="Amount">Mar 2022</div>
  </li>

  <li class="table-row">
    <div class="col col-1" data-label="Job Id">
      <a
        href="https://asaaf.org/2019/11/26/primera-conferencia-del-v-ciclo-de-charlas-de-noether/"
        target="_blank"
        >El (fallido) intento de unificar Gravedad y Electromagnetismo</a
      >
    </div>
    <div class="col col-2" data-label="Customer Name">
      V Noether Conferences
    </div>
    <div class="col col-3" data-label="Amount">Dec 2019</div>
  </li>

  <li class="table-row">
    <div class="col col-1" data-label="Job Id">
      <a
        href="https://asaaf.org/2018/03/27/ciclo-de-charlas-noether/"
        target="_blank"
        >Electrodinámica para teóricos</a
      >
    </div>
    <div class="col col-2" data-label="Customer Name">
      III Noether Conferences
    </div>
    <div class="col col-3" data-label="Amount">Apr 2018</div>
  </li>

  <li class="table-row">
    <div class="col col-1" data-label="Job Id">
      <a
        href="https://asaaf.org/2016/12/07/ciclo-de-conferencias-noether-16/"
        target="_blank"
        >Los problemas del Milenio</a
      >
    </div>
    <div class="col col-2" data-label="Customer Name">
      II Noether Conferences
    </div>
    <div class="col col-3" data-label="Amount">Nov 2016</div>
  </li>

  <li class="table-row">
    <div class="col col-1" data-label="Job Id">
      <a
        href="http://www.madrimasd.org/semanaciencia2016/actividad/black-holes-dummies"
        target="_blank"
        >Black Holes for Dummies</a
      >
    </div>
    <div class="col col-2" data-label="Customer Name">Madrid Science Week</div>
    <div class="col col-3" data-label="Amount">Nov 2016</div>
  </li>

  <li class="table-row">
    <div class="col col-1" data-label="Job Id">
      <a
        href="https://asaaf.org/2016/10/14/curso-de-introduccion-a-la-astronomia-2016/"
        target="_blank"
        >Muerte estelar</a
      >
    </div>
    <div class="col col-2" data-label="Customer Name">
      Introduction to Astronomy colloquium
    </div>
    <div class="col col-3" data-label="Amount">Oct 2016</div>
  </li>
</ul>
