<ul class="accordion">

  <li class="accordion-item">
    <input id="sPhys" class="hide" type="checkbox" />
    <label for="sPhys" class="accordion-label">Math 🧮 and Physics ⚛️</label>
    <p class="accordion-child">
      Oh god, what a surprise. How can a <strong>physicist</strong> conducting research in <strong>applied mathematics</strong> be interested in <strong>physics</strong> and <strong>maths</strong>? What a plot-twist. 
      <br>
      <br>
      So yeah, obvious things aside, if you want to know my interests in these fields a bit more in depth, <a href="../categories/02-research.html">consider checking out the "Research" page</a>.
    </p>
  </li>

  <li class="accordion-item">
    <input id="sProgram" class="hide" type="checkbox" />
    <label for="sProgram" class="accordion-label">Computers 🤖 and Programming ⌨️</label>
    <p class="accordion-child">
      Again, tremendous surprise that someone who has been hired as a <strong>programmer</strong>, who has coded <a href="../categories/06-projects.html">a couple of utilities</a>, is interested in <strong>computers</strong> and <strong>coding</strong>. 
      <br>
      <br>
      Jokes aside, I have always found programming to be a fun activity, just like problem solving. I also think understanding (even just a bit) how computers function, software-wise, is incredibly useful in a technology-based world like ours. It has helped me overcome far more obstacles than I could ever anticipate.
      <br>
      <br>
      And yet another facet of software I am invested in is open-source. I try to use FOSS every time I can, and I have myself tried to contribute back to some community-driven projects.
    </p>
  </li>

  <li class="accordion-item">
    <input id="sMusic" class="hide" type="checkbox" />
    <label for="sMusic" class="accordion-label">Music 🎶</label>
    <p class="accordion-child">
      While I am definitely not an expert in music, I consider myself a melomaniac. I love listening to music (mostly indie rock, but I also like artist from genres like metal, jazz, funk, and even electronic music), and discovering new genres or artists I had never heard about. Send me a suggestion if you feel like it, anything could work!
      <br>
      <br>
      All of that aside, I also fancy playing the guitar 🎸 from time to time. 
    </p>
  </li>

  <li class="accordion-item">
    <input id="sInter" class="hide" type="checkbox" />
    <label for="sInter" class="accordion-label">Internet culture 🕸</label>
    <p class="accordion-child">
      You might think that the Internet is the greatest or the worst thing that has ever happened to humanity, but the truth is that it is here to stay. I adore the Internet, not because of the conveniences it has provided us with, but because of the prosumer culture it has nurtured. By this I mean that, as nowadays anyone can create a blog, a website, a video, etc, there are lots of crazy/interesting/curious/fascinating ideas flying around. 
      <br>
      <br>
      To me, the best kind of content out there is that which makes you say... <em>Why did anyone spend time on this stupidity</em>. One of the best examples is <a href="https://pointerpointer.com" target="_blank">https://pointerpointer.com</a>, just click on different places within that website and you'll understand it. I approach Internet culture from an anthropological perspective, and I think it is just fabulous. 
    </p>
  </li>

  <li class="accordion-item">
    <input id="sGames" class="hide" type="checkbox" />
    <label for="sGames" class="accordion-label">Board games 🎲</label>
    <p class="accordion-child">
      Yes, I am one of these people. There is nothing like an evening playing Catan with some friends, over pizza and beer. 
      <br>
      <br>
      Besides these kinds of games (Catan, Exploding Kittens, Carcassonne, etc), I have also played (and enjoyed quite a lot) a campaign Dungeons and Dragons 🐉 in the past, and I am planning one in the near future along some friends.
    </p>
  </li>
</ul>
