<ul class="accordion">

  <li class="accordion-item">
    <input id="sPhys" class="hide" type="checkbox" />
    <label for="sPhys" class="accordion-label">Math and Physics</label>
    <p class="accordion-child">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis
      ultrices nunc. Suspendisse a magna purus. In hac habitasse platea
      dictumst. Nullam sed nisl quis sem dignissim luctus. Etiam luctus mauris
      nulla, et efficitur massa efficitur ac.
    </p>
  </li>

  <li class="accordion-item">
    <input id="sProgram" class="hide" type="checkbox" />
    <label for="sProgram" class="accordion-label">Computers and Programming</label>
    <p class="accordion-child">
      Hola
    </p>
  </li>

  <li class="accordion-item">
    <input id="sMusic" class="hide" type="checkbox" />
    <label for="sMusic" class="accordion-label">Music</label>
    <p class="accordion-child">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis
      ultrices nunc. Suspendisse a magna purus. In hac habitasse platea
      dictumst. Nullam sed nisl quis sem dignissim luctus. Etiam luctus mauris
      nulla, et efficitur massa efficitur ac.
    </p>
  </li>

  <li class="accordion-item">
    <input id="sInter" class="hide" type="checkbox" />
    <label for="sInter" class="accordion-label">Internet culture</label>
    <p class="accordion-child">
      Hola
    </p>
  </li>

  <li class="accordion-item">
    <input id="sGames" class="hide" type="checkbox" />
    <label for="sGames" class="accordion-label">Board games</label>
    <p class="accordion-child">
      Yes, I am one of these people. There is nothing like an evening playing Catan with some friends, over pizza and beer. 
      <br>
      Besides these kinds of games (Catan, Exploding Kittens, Carcassonne, etc), I have also played (and enjoyed quite a lot) a campaign Dungeons and Dragons in the past.
    </p>
  </li>
</ul>
