<ul class="accordion">

  <li class="accordion-item">
    <input id="sPhys" class="hide" type="checkbox" />
    <label for="sPhys" class="accordion-label">Math 🧮 and Physics ⚛️</label>
    <p class="accordion-child">
      Oh god, what a surprise. How can a physicist conducting research in applied mathematics be interested in physics and maths? What a plot twist. 
      <br>
      <br>
      So yeah, obvious things aside, if you want to know my interests in these fields a bit more in depth, <a href="../categories/02-research.html">consider checking out the "Research" page</a>.
    </p>
  </li>

  <li class="accordion-item">
    <input id="sProgram" class="hide" type="checkbox" />
    <label for="sProgram" class="accordion-label">Computers 💻 and Programming 🤖</label>
    <p class="accordion-child">
      Again, tremendous surprise that someone who has been hired as a programmer, who has coded <a href="../categories/06-projects.html">a couple of utilities</a>, is interested in computers and coding. 
      <br><br>
      <span class="" style="display: flex; justify-content:space-around;">
        <img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/python/python-original.svg"  title="Python" alt="Python" width="30" height="30"/>
        <img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/julia/julia-original.svg"  title="Julia" alt="Julia" width="30" height="30"/>
        <img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/linux/linux-original.svg"  title="Linux" alt="Linux" width="30" height="30"/>
        <img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/bash/bash-original.svg"  title="bash" alt="bash" width="30" height="30"/>
        <img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/raspberrypi/raspberrypi-original.svg"  title="bash" alt="bash" width="30" height="30"/>
        <img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/git/git-original.svg"  title="git" alt="git" width="30" height="30"/>
        <img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/postgresql/postgresql-original.svg"  title="postgresql" alt="postgresql" width="30" height="30"/>
        <img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/html5/html5-original.svg" title="HTML5" alt="HTML" width="30" height="30"/>
        <img src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/css3/css3-original.svg"  title="CSS3" alt="CSS" width="30" height="30"/>
      </span>

      Jokes aside, I have always found programming to be a fun activity, just like problem solving. I also think understanding (even just a bit) how computers function, software-wise, is incredibly useful in a technology-based world like ours. It has helped me overcome far more obstacles than I could ever anticipate.
      <br>
      
      <br>
      And yet another facet of software I am invested in is open-source. I try to use FOSS every time I can, and I have myself tried to contribute back to some community-driven projects.
    </p>
  </li>

  <li class="accordion-item">
    <input id="sMusic" class="hide" type="checkbox" />
    <label for="sMusic" class="accordion-label">Music 🎶</label>
    <p class="accordion-child">
      While I am definitely not an expert in music, I consider myself a melomaniac. I love listening to music (mostly indie rock, but I also like artist from genres like metal, jazz, funk, and even electronic music), and discovering new genres or artists I had never heard about. Send me a suggestion if you feel like it, anything could work!
      <br>
      <br>
      <iframe src="https://open.spotify.com/embed/track/608uL3XBV8f2MHKNgm32Y3?utm_source=generator" width="70%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      <br>
      <br>
      All of that aside, I also fancy playing the guitar 🎸 from time to time. 
    </p>
  </li>

  <li class="accordion-item">
    <input id="sInter" class="hide" type="checkbox" />
    <label for="sInter" class="accordion-label">Internet culture 🕸</label>
    <p class="accordion-child">
      You might think that the Internet is the greatest or the worst thing that has ever happened to humanity, but the truth is that it is here to stay. I adore the Internet, not because of the conveniences it has provided us with, but because of the prosumer culture it has nurtured. By this I mean that, as nowadays anyone can create a blog, a website, a video, etc, there are lots of crazy/interesting/curious/fascinating ideas flying around. 
      <br>
      <br>
      To me, the best kind of content out there is that which makes you say... <em>Why did anyone spend time on this stupidity</em>. One of the best examples is <a href="https://pointerpointer.com" target="_blank">https://pointerpointer.com</a>, just click on different places within that website and you'll understand it. I approach Internet culture from an anthropological perspective and I think it is just fabulous. 
    </p>
  </li>

  <li class="accordion-item">
    <input id="sGames" class="hide" type="checkbox" />
    <label for="sGames" class="accordion-label">Board games 🎲</label>
    <p class="accordion-child">
      Yes, I am one of these people. There is nothing like an evening playing Catan with some friends, over pizza and beer. 
      <br>
      <br>
      Besides these kinds of games (Catan, Exploding Kittens, Bang, Carcassonne, etc), I have also played (and enjoyed quite a lot) a campaign Dungeons and Dragons 🐉 in the past and I am currently DM'ing one, which is a fantastic experience.
    </p>
  </li>
</ul>
