<table class="styled-table">
    <thead class="table-header">
        <tr>
            <th width="100px"></th>
            <th>Project</th>
            <th>Keywords</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img
                src="../imgs/MusicNames.jpg"
                alt="MusicNames"
                width="100px"
                height="100px"/>
            </td>
            
            <td>
                <a href="https://github.com/goznalo-git/musicnames-RNN-keras"><h3>Music name generator</h3>
                <p id="desktop">
                    I decided to put into practice what I learnt after some Deep Learning courses, specifically in regards to Recurrent Neural Networks (RNN) and Long Short-Term Memory (LSTM) cells. I trained an RNN with a huge list of musician names in order for it to generate more, letter by letter. 
                </p>
                <p id="mobile">
                    Recurrent Neural Network trained on a database of musician names to generate another one, letter by letter.
                </p>
                </a>
                </td>
            <td id="keywords">Python, Keras, RNN, LSTM</td>
            <td>Improvable</td>
        </tr>
        
        <tr>
            <td>
                <img
                src="../imgs/bitcoin.jpg"
                alt="Cryptocurrencies"
                width="100px"
                height="100px"
                />
            </td>
            
            <td>
                <a href="https://github.com/goznalo-git/cryptosummary"><h3>Cryptocurrency summary</h3>
                <p id="desktop">
                    For a while now I have been interested in the blockchain, and I acquired a bunch of cryptocurrencies (small amounts, I am not rich yet). In order to keep track of them, I created a simple Python script querying a local database to fetch the cryptocoins to then convert them to their euro value.
                </p>
                <p id="mobile">
                    Simple Python script querying a local database to fetch cryptocurrency values.
                </p>
                </a>
                </td>
            <td id="keywords">MySQL, Python, HTTP requests</td>
            <td>Improvable</td>
        </tr>

        <tr>
            <td>
                <img
                src="../imgs/audiowaves.png"
                alt="AudioWaves"
                width="100px"
                height="100px"
                />
            </td>
            
            <td>
                <a href="https://github.com/goznalo-git/Audiowaves"><h3>Audiowaves</h3>
                <p id="desktop">
                    Some time ago I planned starting a podcast, and I enjoyed the idea of designing a script for podcasters, which would translate audio waves to different possible images or gifs, each with a unique style, out of the waves themselves or their frequency spectra.
                </p>
                <p id="mobile">
                    Script translating audio files to images or gifs of the audio waves or their spectra.
                </p>
                </a>
                </td>
            <td id="keywords">Python, spectrum analysis, Matplotlib</td>
            <td>Stale</td>
        </tr>

        <tr>
            <td>
                <img
                src="../imgs/Simulations.png"
                alt="Simulations"
                width="100px"
                height="100px"
                />
            </td>
            
            <td>
                <a href="https://github.com/goznalo-git/PhysicsSimulations"><h3>Physics simulations</h3>
                <p id="desktop">
                    I carried out this project long time ago, for many reasons, including learning about differential equations solvers in Python, and for my personal interest and curiosity.
                </p>
                <p id="mobile">
                    Monte Carlo and differential equation simulators for physical systems. 
                </p>
                </a>
                </td>
            <td id="keywords">Python, SciPy, Matplotlib</td>
            <td>Waiting for inspiration</td>
        </tr>
        
        <tr>
            <td>
                <img
                src="../imgs/ThunderCSV.jpg"
                alt="ThunderbirdToCSV"
                width="100px"
                height="100px"
                />
            </td>
            
            <td>
                <a href="https://github.com/goznalo-git/thunderbird-to-csv"><h3>Thunderbird to CSV</h3>
                <p id="desktop">
                    During my first job as a programmer at the UAM's cluster, I was requested to develop a utility which automatically wrote a spreadsheet with information about all servers in the cluster, parsed from the email files received with the Thunderbird email client.
                </p>
                <p id="mobile">
                    Parser developed when I was at the UAM, to automatically fill in a CSV from Thunderbird emails.
                </p>
                </a>
                </td>
            <td id="keywords">Python, OOP, Thunderbird, CSV</td>
            <td>Finished</td>
        </tr>

        <tr>
            <td>
                <img
                src="../imgs/SongOrganizer.jpg"
                alt="MP3Organizer"
                width="100px"
                height="100px"
                />
            </td>
            
            <td>
                <a href="https://github.com/goznalo-git/SongOrganizer"><h3>MP3 Organizer</h3>
                <p id="desktop">
                    This was one of my first GitHub projects, a utility I wrote for myself, in order to automatically organize .mp3 and .flac files in my computer into different subfolders, based on the artist's name.
                </p>
                <p id="mobile">
                    Utility to automatically move .mp3 and .flac files to their corresponding folder.
                </p>
                </a>
                </td>
            <td id="keywords">Bash, Linux, ShellScript</td>
            <td>Finished</td>
        </tr>
        
    </tbody>
</table>
