<table class="styled-table">
    <thead class="table-header">
        <tr>
            <th width="100px"></th>
            <th>Project</th>
            <th>Keywords</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                <img
                src="../imgs/deep-learning.png"
                alt="Heterogeneous hypergraphs"
                width="100px"
                height="100px"
                />
            </td>
            
            <td>
                <a href="https://github.com/goznalo-git/DirectedHyperCentrality"><h3>Spectral centralities of heterogeneous hypergraphs</h3>
                <p id="desktop">
                    Code used to generate the figures of the paper "Beyond directed hypergraphs: heterogeneous hypergraphs and spectral centralities" <em>arXiv:2403.11825</em>.
                </p>
                <p id="mobile">
                    Code of the paper "Beyond directed hypergraphs: heterogeneous hypergraphs and spectral centralities" <em>arXiv:2403.11825</em>.
                </p>
                </a>
                </td>
            <td id="keywords">Python, networkx, xgi</td>
            <td>Finished</td>
        </tr>

        <tr>
            <td>
                <img
                src="../imgs/chaos.png"
                alt="Cluster synchronization"
                width="100px"
                height="100px"
                />
            </td>
            
            <td>
                <a href="https://github.com/goznalo-git/ClusterSynchronization"><h3>Cluster synchronization in coupled chaotic systems</h3>
                <p id="desktop">
                    Code used to generate the figures of the papers "Endowing networks with desired symmetries and modular behavior" <em>Phys. Rev. E 108, 054309 (2023)</em> and "The transition to synchronization of networked systems" <em>Nat. Comm. 15, 4955 (2024)</em>.
                </p>
                <p id="mobile">
                    Code of the paper "Beyond directed hypergraphs: heterogeneous hypergraphs and spectral centralities" <em>arXiv:2403.11825</em>.
                </p>
                </a>
                </td>
            <td id="keywords">Julia, Python</td>
            <td>Finished</td>
        </tr>

        <tr>
            <td>
                <img
                src="../imgs/communities.png"
                alt="Hypergraph communities"
                width="100px"
                height="100px"
                />
            </td>
            
            <td>
                <a href="https://github.com/LaComarca-Lab/HyperGraph-Communities"><h3>Cluster synchronization in coupled chaotic systems</h3>
                <p id="desktop">
                    Code used to generate the figures of the papers "Detecting communities in higher-order networks by using their derivative graphs" <em>Chaos, Solitons and Fractals, Vol 177, 114200 (2023)</em>.
                </p>
                <p id="mobile">
                    Code of the paper "Detecting communities in higher-order networks by using their derivative graphs" <em>Chaos, Solitons and Fractals, Vol 177, 114200 (2023)</em>.
                </p>
                </a>
                </td>
            <td id="keywords">Python, xgi</td>
            <td>Finished</td>
        </tr>

        <tr>
            <td>
                <img
                src="../imgs/layer.png"
                alt="Non-uniform centrality"
                width="100px"
                height="100px"
                />
            </td>
            
            <td>
                <a href="https://github.com/LaComarca-Lab/non-uniform-hypergraphs"><h3>Eigenvector-like centrality in non-uniform hypergraphs</h3>
                <p id="desktop">
                    Code used to generate the figures of the paper "Uplifting edges in higher order networks: spectral centralities for non-uniform hypergraphs" <em>AIMS Mathematics, Volume 9, Issue 11 (2024) </em>.
                </p>
                <p id="mobile">
                    Code of the paper "Uplifting edges in higher order networks: spectral centralities for non-uniform hypergraphs" <em>AIMS Mathematics, Volume 9, Issue 11 (2024) </em>.
                </p>
                </a>
                </td>
            <td id="keywords">Python, networkx, xgi</td>
            <td>Finished</td>
        </tr>

        <tr>
            <td>
                <img
                src="../imgs/network.png"
                alt="PageRank centrality control"
                width="100px"
                height="100px"
                />
            </td>
            
            <td>
                <a href="https://github.com/LaComarca-Lab/PageRank_CentralityControl"><h3>PageRank centrality control</h3>
                <p id="desktop">
                    Code used to generate the figures of the paper "Can the PageRank centrality be manipulated to obtain any desired ranking?" <em>Chaos 33, 083152 (2023)</em>.
                </p>
                <p id="mobile">
                    Code of the paper "Can the PageRank centrality be manipulated to obtain any desired ranking?" <em>Chaos 33, 083152 (2023)</em>.
                </p>
                </a>
                </td>
            <td id="keywords">Python, networkx, igraph</td>
            <td>Finished</td>
        </tr>

    </tbody>
</table>
