<table class="styled-table">
    <thead class="table-header">
        <tr>
            <th width="100px"></th>
            <th>Project</th>
            <th>Keywords</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>
                <img
                src="../imgs/network.png"
                alt="PageRank centrality control"
                width="100px"
                height="100px"
                />
            </td>
            
            <td>
                <a href="https://github.com/LaComarca-Lab/PageRank_CentralityControl"><h3>PageRank centrality control</h3>
                <p id="desktop">
                    Code used to generate the figures of the paper "Can the PageRank centrality be manipulated to obtain any desired ranking?" <em>Chaos 33, 083152 (2023)</em>.
                </p>
                <p id="mobile">
                    Code of the paper "Can the PageRank centrality be manipulated to obtain any desired ranking?" <em>Chaos 33, 083152 (2023)</em>.
                </p>
                </a>
                </td>
            <td id="keywords">Python, NetworkX, igraph</td>
            <td>Finished</td>
        </tr>

    </tbody>
</table>
