<div class="linkstable">
    <ul>
      <li>
        <a href="https://gestion2.urjc.es/pdi/ver/gonzalo.contreras" target="_blank">
        <img src="https://online.urjc.es/images/logoURJC.png" width="200rem">
        <h3>URJC profile</h3>
        </a>
      </li>
  
      <li>
        <a href="https://orcid.org/0000-0002-8118-6403" target="_blank">
        <img src="https://orcid.org/assets/vectors/orcid.logo.svg" id="orcid">
        <h3>ORCID</h3>
        </a>
      </li>
  
      <li>
        <a href="https://www.linkedin.com/in/gonzalo-contr/" target="_blank">
        <img src="https://brand.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Logo.svg.original.svg" id="linkedin">
        <h3>LinkedIn profile</h3>
        </a>
      </li>
    </ul>
  </div>