<div class="linkstable">
    <ul>
      <li>
        <a href="https://researchportal.uc3m.es/display/inv51613" target="_blank">
        <img src="https://researchportal.uc3m.es/images/uc3m.png" width="200rem">
        <h3>UC3M profile</h3>
        </a>
      </li>
  
      <li>
        <a href="https://scholar.google.es/citations?hl=en&pli=1&user=hfQKzTYAAAAJ" target="_blank">
        <img src="https://scholar.google.com/intl/en/scholar/images/1x/scholar_logo_64dp.png" style="float: left; padding: 25px 0px 0px 0px;">
        <h3>Google Scholar</h3>
        </a>
      </li>

      <li>
        <a href="https://orcid.org/0000-0002-8118-6403" target="_blank">
        <img src="https://orcid.org/assets/vectors/orcid.logo.svg" id="orcid">
        <h3>ORCID</h3>
        </a>
      </li>
  
      <li>
        <a href="https://www.linkedin.com/in/gonzalo-contr/" target="_blank">
        <img src="https://brand.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Logo.svg.original.svg" id="linkedin">
        <h3>LinkedIn profile</h3>
        </a>
      </li>
    </ul>
  </div>