<ul class="accordion">
  <li class="accordion-item">
    <input id="sProgram" class="hide" type="checkbox" />
    <label for="sProgram" class="accordion-label">Programming</label>
    <p class="accordion-child">Hola</p>
  </li>

  <li class="accordion-item">
    <input id="sComput" class="hide" type="checkbox" />
    <label for="sComput" class="accordion-label">Computers & Networking</label>
    <p class="accordion-child">Hola</p>
  </li>

  <li class="accordion-item">
    <input id="sPhys" class="hide" type="checkbox" />
    <label for="sPhys" class="accordion-label">Physics</label>
    <p class="accordion-child">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis
      ultrices nunc. Suspendisse a magna purus. In hac habitasse platea
      dictumst. Nullam sed nisl quis sem dignissim luctus. Etiam luctus mauris
      nulla, et efficitur massa efficitur ac.
    </p>
  </li>

  <li class="accordion-item">
    <input id="sMath" class="hide" type="checkbox" />
    <label for="sMath" class="accordion-label">Mathematics</label>
    <p class="accordion-child">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis
      ultrices nunc. Suspendisse a magna purus. In hac habitasse platea
      dictumst. Nullam sed nisl quis sem dignissim luctus. Etiam luctus mauris
      nulla, et efficitur massa efficitur ac.
    </p>
  </li>

  <li class="accordion-item">
    <input id="sMusic" class="hide" type="checkbox" />
    <label for="sMusic" class="accordion-label">Music</label>
    <p class="accordion-child">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis
      ultrices nunc. Suspendisse a magna purus. In hac habitasse platea
      dictumst. Nullam sed nisl quis sem dignissim luctus. Etiam luctus mauris
      nulla, et efficitur massa efficitur ac.
    </p>
  </li>

  <li class="accordion-item">
    <input id="sGames" class="hide" type="checkbox" />
    <label for="sGames" class="accordion-label">Board games</label>
    <p class="accordion-child">Hola</p>
  </li>
</ul>
