<div style="background: white; flex: 1">
  <!-- This will make the mobile homepage have a white against black contrast.
           Flex extends it to the bottom of the page. -->

  <h1 style="font-family: Lily Script One">
    Are you lost in the Internet wilderness?
  </h1>
  <figure>
    <img src="{{ "/imgs/under-construction.png" | relative_url}}" alt="Site
    Under Construction">
  </figure>
  <!--
  <p>- - - W I P - - -</p>
  <figure>
    <img src="{{ "/imgs/EinsteinEqsLeiden.jpg" | relative_url}}" alt="Photo of
    myself in front of the Einstein's equations. Leiden, The Netherlands">
    <figcaption style="font-style: italic; padding: 2px; text-align: center">
      Photo of myself in front of the Einstein's equations. Leiden, The
      Netherlands.
    </figcaption>
  
  -->
</div>
