<div>
  <ul class="thumbnail_ul">
    <a href="https://github.com/goznalo-git/musicnames-RNN-keras">
      <li class="thumbnail_li">
        <img
          src="../imgs/MusicNames.jpg"
          alt="MusicNames"
          width="100px"
          height="100px"
        />
        <div style="width: 100%">
          <div style="width: 600px; float: left">
            <h3>Music name generator</h3>
            <p>
              This project was the result of a course on Deep Learning,
              specifically regarding Recurrent Neural Networks and LSTM cells. I
              found it so interesting I wanted to put it into practice. I
              trained an RNN with musician names in order for it to generate
              more, letter by letter.
            </p>
          </div>
          <div style="margin-left: 620px">
            <p id="techs">Python, Keras, RNN, LSTM</p>
          </div>
        </div>
      </li>
    </a>
    <a href="https://github.com/goznalo-git/cryptosummary">
      <li class="thumbnail_li">
        <img
          src="../imgs/bitcoin.jpg"
          alt="Cryptocurrencies"
          width="100px"
          height="100px"
        />
        <div style="width: 100%">
          <div style="width: 600px; float: left">
            <h3>Cryptocurrency summary</h3>
            <p>
              For a while now I have been interested in the blockchain, and I've
              acquired a bunch of cryptocurrencies (small amounts, I am not rich
              yet). In order to keep track of them, I created a simple Python
              script querying a local database to fetch the cryptocoins to then
              convert them.
            </p>
          </div>
          <div style="margin-left: 620px; margin-top">
            <p id="techs">MySQL, Python, HTTP requests</p>
          </div>
        </div>
      </li>
    </a>
    <a href="https://github.com/goznalo-git/PhysicsSimulations">
      <li class="thumbnail_li">
        <img
          src="../imgs/Simulations.png"
          alt="Simulations"
          width="100px"
          height="100px"
          style="padding-top: 20px"
        />
        <div style="width: 100%">
          <div style="width: 600px; float: left">
            <h3>Physics simulations</h3>
            <p>
              I carried out this project long time ago, for many reasons,
              including learning about differential equations solvers in Python,
              and for my personal interest and curiosity.
            </p>
          </div>
          <div style="margin-left: 620px">
            <p id="techs">Python, SciPy, Matplotlib</p>
          </div>
        </div>
      </li>
    </a>
    <a href="https://github.com/goznalo-git/thunderbird-to-csv">
      <li class="thumbnail_li">
        <img
          src="../imgs/ThunderCSV.jpg"
          alt="ThunderbirdToCSV"
          width="100px"
          height="100px"
        />
        <div style="width: 100%">
          <div style="width: 600px; float: left">
            <h3>Thunderbid to CSV</h3>
            <p>
              During my first job as a programmer at the UAM's cluster, I was
              requested to develop a utility which automatically wrote a
              spreadsheet with information about all servers in the cluster,
              received with the Thunderbird email client.
            </p>
          </div>
          <div style="margin-left: 620px">
            <p id="techs">Python, OOP, Thunderbird, CSV</p>
          </div>
        </div>
      </li>
    </a>
    <a href="https://github.com/goznalo-git/SongOrganizer">
      <li class="thumbnail_li">
        <img
          src="../imgs/SongOrganizer.jpg"
          alt="SongOrganizer"
          width="100px"
          height="100px"
          style="padding-top: 20px"
        />
        <div style="width: 100%">
          <div style="width: 600px; float: left">
            <h3>Song Organizer</h3>
            <p>
              This was one of my first GitHub projects, a utility I wrote for
              myself, in order to automatically organize .mp3 and .flac files in
              my computer into different subfolders.
            </p>
          </div>
          <div style="margin-left: 620px">
            <p id="techs">Bash, Linux, ShellScript</p>
          </div>
        </div>
      </li>
    </a>
  </ul>
</div>
