<div id="timeline-content">
  <ul class="timeline">
    <li class="event" data-date="1995">
      <h3>A star was born</h3>
      <h4>Madrid, Spain</h4>
      <p>There's not much to be added here.</p>
    </li>
    <li class="event" data-date="1995-2013">
      <h3>Compulsory education</h3>
      <h4>C.E.I.P. Nuestra Señora de la Almudena</h4>
      <p>I had what can be called a normal primary education.</p>
      <h4>I.E.S. Beatriz Galindo</h4>
      <p>
        I went to an english-spanish bilingual school all through secondary
        education.
      </p>
    </li>
    <li class="event" data-date="2013">
      <h3>Enrolled the B.Sc. in Physics</h3>
      <h4>Universidad Complutense de Madrid (UCM)</h4>
      <p>
        Amazed by the Universe and space (cosmology, black holes, etc), I
        attempted to understand it.
      </p>
    </li>
    <li class="event" data-date="2014-2020">
      <h3>Joined ASAAF</h3>
      <p>
        During the second year I joined the astronomical association of the UCM.
      </p>
      <p>
        Besides helping with astronomical events, I was offered the chance to
        give public presentations, taking place during events such as the Madrid
        Science Week or the Noether Conference cycles.
      </p>
      <p>
        For a complete list of them, see
        <a href="../categories/talks.html">the "Talks" section</a>.
      </p>
      <!-- 
        <ul>
        <li class="subevent"><a href="https://asaaf.org/2016/10/14/curso-de-introduccion-a-la-astronomia-2016/" target="_blank">Muerte estelar</a> (<i>Introduction to Astronomy colloquium, Oct 2016</i>)</li>
        <li class="subevent"><a href="http://www.madrimasd.org/semanaciencia2016/actividad/black-holes-dummies" target="_blank">Black Holes for Dummies</a> (<i>Madrid Science Week, Nov 2016</i>)</li>
        <li class="subevent"><a href="https://asaaf.org/2016/12/07/ciclo-de-conferencias-noether-16/" target="_blank">Los problemas del Milenio</a> (<i>II Noether Conferences, Nov 2016</i>)</li>
        <li class="subevent"><a href="https://asaaf.org/2018/03/27/ciclo-de-charlas-noether/" target="_blank">Electrodinámica para teóricos</a> (<i>III Noether Conferences, Apr 2018</i>)</li>
        <li class="subevent"><a href="https://asaaf.org/2019/11/26/primera-conferencia-del-v-ciclo-de-charlas-de-noether/" target="_blank">El (fallido) intento de unificar Gravedad y Electromagnetismo</a> (<i> V Noether Conferences, Dec 2019</i>)</li>
        </ul>
      -->
    </li>
    <li class="event" data-date="Feb 2021">
      <h3>C1 english certified via IELTS</h3>
    </li>
    <li class="event" data-date="Jul 2017">
      <h3>B.Sc. in Physics (GPA 7.5)</h3>
      <h4>Universidad Complutense de Madrid (UCM)</h4>
      <p>Specialization in Fundamental Physics</p>
      <p>
        Bachelor's Thesis:
        <em
          ><strong
            >Numerical Solutions in Classical Field Theories: Vortices and
            Solitons</strong
          ></em
        >, directed by Prof. Francisco Navarro (Grade: 9/10).
      </p>
      <p>
        In case you are interested, you can
        <a
          href="https://goznalo-git.github.io/portfolio/files/TFG.pdf"
          target="_blank"
        >
          view or download it here</a
        >
        (in Spanish).
      </p>
    </li>
    <li class="event" data-date="Sep 2017">
      <h3>Enrolled the M.Sc. in Theoretical Physics</h3>
      <h4>Universeit van Amsterdam</h4>
      <p>
        I still had a huge drive to understand the Universe, as the bachelor
        only shows glimpses of deep, underlying Physics.
      </p>
      <p>
        The program offered by the UvA was highly competitive and interesting,
        thus positioning it as my first choice for my Master studies.
      </p>
    </li>
    <li class="event" data-date="2017-2019">
      <h3>Joined NSA</h3>
      <p>
        Soon after arriving to Amsterdam I became a member of the
        Natuurwetenschappelijke Studievereniging Amsterdam, a Physics' and
        Mathematics' student association of the UvA. What's more, I was part of
        the Master Committee, in charge of creating and managing events aimed at
        Master-level students.
      </p>
      <p>
        The events included: pub quizzes, movie nights, scientific talks, etc.
      </p>
    </li>
    <li class="event" data-date="2018-2019">
      <h3>Joined Pint of Science NL</h3>
      <p>
        During the second year of the Master I found out about the Pint of
        Science non-profit organization, which happened to have just opened an
        Amsterdam division. This organization intends to explain scientific
        topics to people through informal talks at bars, where atendees are
        given a beer upon entring.
      </p>
      <p>
        I was in charge of organizing the events of the 2019 festival (taking
        place every year, in May, all over the world), in particular I organized
        and introduced the speakers of the event ``Fundamentals of Antibiotic
        Resistance''.
      </p>
    </li>
    <li class="event" data-date="Aug 2019">
      <h3>M.Sc. in Theoretical Physics (GPA 8.5)</h3>
      <h4>Universiteit van Amsterdam</h4>
      <p>
        With <em><strong>Cum Laude</strong></em> distinction. Specialization in
        High Energy Physics & String Theory.
      </p>
      <p>
        Master's Thesis:
        <em
          ><strong>Wilson Lines in AdS<sub>3</sub>/CFT<sub>2</sub></strong></em
        >, directed by Prof. Alejandra Castro Anich (Grade: 8/10).
      </p>
      <p>
        In case you are interested, you can
        <a
          href="https://goznalo-git.github.io/portfolio/files/TFM.pdf"
          target="_blank"
        >
          view or download it here</a
        >
        (in English).
      </p>
    </li>
    <li class="event" data-date="Jan 2020">
      <h3>Began working as a programmer</h3>
      <h4>
        Centro de Computación Científica, Universidad Autónoma de Madrid
        (CCC-UAM)
      </h4>
      <p>
        Upon finishing my master studies, I craved a change in my career. After
        a brief hiatus, I got a job as a programmer in the Center for Scientific
        Computing of the UAM. There I developed my scripting skills (in
        bash/Linux and Python) further than ever before, and I attained a huge
        interest for Linux and open source in general.
      </p>
    </li>
    <li class="event" data-date="Jun 2020">
      <h3>Deep Learning Specialization via Coursera</h3>
      <p>
        During the COVID-19 pandemic, my interest for data science, and AI in
        particular, grew exponentially. It was for this reason that I decided to
        take a series of excellent courses provided by Coursera and
        deeplearning.ai, which taught me the fundamentals of Deep Learning (from
        basic Neural Networks to Convolutional or Recurrent ones).
      </p>
    </li>
    <li class="event" data-date="Feb 2021">
      <h3>Finished working at the CCC-UAM</h3>
    </li>
    <li class="event" data-date="Mar 2021">
      <h3>Began working as a data analyst</h3>
      <h4>SDG group</h4>
      <p>
        One year after joining the CCC-UAM, it was time for me to move forward,
        pursuing a career in Data Science. As a first step towards that goal, I
        became a consultant at SDG, analyzing data from the Santander Bank.
      </p>
    </li>
  </ul>
</div>
